{% extends "base.html" %}

{% block title %}Index XD...{% endblock %}

{% block content %}
	<h3>Name: "{{ name }}"</h3>

	<h4>Message: " {{ message }} "</h4>

{% if request.user.is_authenticated %}
	<h1>User Logged</h1>
{% else %}

	<form method="POST" > {% csrf_token %}
		{{form}}

		<button type="submit" class=" btn  btn-outline-primary" >Login</button>
		<button type="reset" class=" btn  btn-outline-warning" >Cancel</button>

	</form>
	}
{% endif %}
{% endblock %}