{% extends "base.html" %}

{% load staticfiles %}

{% block title %}list XD...{% endblock %}

{% block content %}
	
	<table class="table table-striped">
		{% for item in listaDatos %}
			<tr>
				<td>
					{% if item <= 5 %}
						El numero {{ item }} es menor o igual a 5
					{% else %}
						El numero {{ item }} es mmayor o igual a 5
					{% endif %}
				</td>
			</tr>
			
		{% endfor %}
	</table>
		

	<button class="btn btn-outline-primary">Send</button>


<img  width="100" src="{% static 'img/logoPython.png' %}">

{{ listaDatos.2 }}
{{ listaDatos.1 }}
{% endblock %}