{% extends "base.html" %}

{% block title %}SingUp{% endblock %}

{% block content %}

<form method="POST" >{% csrf_token %}
	{{form}}
	<button type="submit" class="btn btn-outline-primary " >Sing Up</button>
	<button type="reset" class="btn btn-outline-warning " >Cancel</button>

</form>

{% endblock %}