{% extends "base.html" %}

{% block title %}Detail Pokemon{% endblock %}

{% block content %}


	
	

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Pokemon Detail</h5>
	   <label>
	   		Pokemon Name: 
	   </label> {{ object.pokemon_name }} <br>
	   <label>
	   		Pokemon Type: 
	   </label>
		{{ object.pokemon_type }} <br>
		<label>
			Pokemon Level: 
		</label>
		{{ object.pokemon_level }} <br>
		<label>
			Pokemon Exp: 
		</label>
		{{ object.pokemon_exp }} <br>
		<label>
			Pokemon Status: 
		</label>
		{{ object.status }} <br>
		<label>
			Pokemon TimeStamp: 
		</label>
		{{ object.timestamp|timesince }} <br>
		<label>Trainer Name: </label>
		{{ object.trainer }}<br>

		<a href="{% url 'list2' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}