{% extends "base.html" %}

{% block title %}Detail League{% endblock %}

{% block content %}

	<div class="media">
	  <img src="..." class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">League Detail</h5>
	   <label>
	   		Nombre: 
	   </label> {{ object.name }} <br>
	   <label>
	   		Nivel: 
	   </label>
		{{ object.level}} <br>
		<label>
			Numero de Pokemons: 
		</label>
		{{ object.number_pokemons }} <br>
		<label>
			Numero de medallas: 
		</label>
		{{ object.numer_medals }} <br>
		<label>
			Numero de Entrenadores: 
		</label>
		{{ object.number_trainers }} <br>
		<a href="{% url 'league_list' %}">| back |</a> 
	  
	  </div>
	</div>


{% endblock %}