{% extends "base.html" %}

{% block title %}Lista{% endblock %}

{% block content %}


	<table class="table">
		<th>Name</th>
		<th>Level</th>
		{% for o in object_list %}
			<tr>
				<td>{{ o.name }}</td>
				<td>{{ o.level }}</td>
				<td><a href="{% url 'league_detail' o.id %}"> detail </a></td>

				<td><a href="{% url 'league_update' o.id %}">update</a></td>
				<td><a href="{% url 'league_delete' o.id %}">delete</a></td> 
			</tr>
	{% endfor %}
	</table>

{% endblock %}